<!-- 頁腳 -->
<footer class="footer mt-auto py-3 bg-light">
    <div class="container text-center">
      <span class="text-muted">Copyright © Test Case Prioritization 2024</span>
      <span class="text-muted">Icon made by Freepik from www.flaticon.com</span>
    </div>
  </footer>
  
  
  
  
  <style>
      html {
          min-height: 100%;
          position: relative;
      }
  
  
      body {
          margin-bottom: 50px;
      }
  
  
      .footer {
          position: absolute;
          bottom: 0;
          width: 100%;
          height: 100px;
          background: #f5f5f5;
          padding: 25px;
          text-align: center;
          margin-top: 50px;
      }
  
  
      .invalid-feedback {
          color: #a94442;
          }
  
  
      .navbar-default {
          background-color: #0096D6;
          border-color: #0293d1;
      }
  
  
      .navbar-container {
          height: 10px; /* 设置导航栏容器的高度 */
      }
  
  
      .navbar-default .navbar-brand,
      .navbar-default .navbar-nav>li>a {
          color: #f3f1ea;
      }
  
  
      /* .navbar-default .navbar-nav>li>a, */
      /* .navbar-default .navbar-nav>li>a:focus,
      .navbar-default .navbar-nav>li>a:hover */
      .navbar-default .navbar-nav>li>.active,
      .navbar-default .navbar-nav>li>.active:focus,
      .navbar-default .navbar-nav>li>.active:hover {
          font-weight: bold;
      }
  
  
      .navbar-default .navbar-brand:focus,
      .navbar-default .navbar-brand:hover,
      .navbar-default .navbar-nav>li>a:focus,
      .navbar-default .navbar-nav>li>a:hover {
          color: #FFFFFF;
          background-color: transparent;
      }
  
  
      .navbar-default .navbar-nav>.open>a,
      .navbar-default .navbar-nav>.open>a:focus,
      .navbar-default .navbar-nav>.open>a:hover {
          color: #faf7f7;
          background-color: #1c9ed6;
         
      }
  
  
      .navbar-header {
          width: 100%;
          text-align: center;
      }
  
  
      .navbar-brand {
          display: inline-block;  /* 确保它以内联块的形式显示 */
          position: relative;    /* 相对定位于其正常位置 */
          padding: 10px;         /* 根据需要调整内边距 */
          margin: 0 auto;        /* 水平居中 */
      }
  
  
  
  
  
  
      .required-asterisk {
          color: red;
      }
  
  
      .content {
          min-height: calc(100% - 100px); /* 减去页脚的高度 */
      }
      </style>