<!-- 頁腳 -->

<footer class="footer">
    <p class="text-muted">Copyright © Test Case Prioritization 2024 | <a href="https://docs.google.com/spreadsheets/d/1j72a6OHyW3L6JCRn8yuZbdSYpT_83Ak3JXsMmp-0gM4/edit?usp=sharing" target="_blank"  class="custom-link">Contact us</a></p>
    <p class="text-muted">Icon made by Freepik from www.flaticon.com</p>

</footer>
  
  
  
  
<style>

  
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: #f5f5f5;
    padding: 25px;
    text-align: center;
    margin-top: 50px;
}

.custom-link {
    text-decoration: none; /* 移除連結的下劃線 */
}
.custom-link:hover {
    text-decoration: underline; /* 當滑鼠懸停時添加下劃線 */
}

</style>