<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Test Case Prioritization</title>
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
        <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">

        <!-- CSS -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://cdn.datatables.net/1.13.7/css/dataTables.bootstrap5.min.css" rel="stylesheet">
        <link href="https://cdn.datatables.net/buttons/2.4.2/css/buttons.bootstrap5.min.css" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="https://cdn.datatables.net/select/1.7.0/css/select.dataTables.min.css">
        <link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.min.css">
        <link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.4.2/css/buttons.dataTables.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
        <link href="https://cdn.datatables.net/fixedcolumns/4.3.0/css/fixedColumns.dataTables.min.css" rel="stylesheet">

        <!-- JavaScript -->
        <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
        <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>        
        <script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>  
        <script type="text/javascript" src="https://cdn.datatables.net/buttons/2.4.2/js/dataTables.buttons.min.js"></script>
        <script src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.html5.min.js"></script>
        <script src="https://cdn.datatables.net/select/1.7.0/js/dataTables.select.min.js"></script>
        <script type="text/javascript" src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.colVis.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>


    </head>

<body class="d-flex flex-column" style="min-height: 100vh;">
    <div class="content flex-grow-1">

        {% include 'navbar.html' %}

        <div class="container">

            <h1>Register</h1>
            <div class="row">
                <div class="col-md-4">
                    <form action="/register" method="post" class="form" role="form">
                        {{ form.csrf_token }}
                        <div class="form-group required">
                            {{ form.username.label(class="control-label" + (" error" if form.username.errors else "")) }}
                            {{ form.username(class="form-control" + (" error" if form.username.errors else "")) }}
                            {% if form.username.errors %}
                                <div class="text-danger">
                                    {% for error in form.username.errors %}
                                        {{ error }}<br>
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </div>
                        
                        <div class="form-group required">
                            {{ form.email.label(class="control-label" + (" error" if form.email.errors else "")) }}
                            {{ form.email(class="form-control" + (" error" if form.email.errors else "")) }}
                            {% if form.email.errors %}
                                <div class="text-danger">
                                    {% for error in form.email.errors %}
                                        {{ error }}<br>
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </div>
                        
                        <div class="form-group required">
                            {{ form.password.label(class="control-label") }}
                            {{ form.password(class="form-control") }}
                            {% if form.password.errors %}
                                <div class="text-danger">
                                    {% for error in form.password.errors %}
                                        {{ error }}<br>
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </div>
                        <div class="form-group required">
                            {{ form.password2.label(class="control-label" + (" error" if form.password2.errors else "")) }}
                            {{ form.password2(class="form-control" + (" error" if form.password2.errors else "")) }}
                            {% if form.password2.errors %}
                                <div class="text-danger">
                                    {% for error in form.password2.errors %}
                                        {{ error }}<br>
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </div>
                    
                        <input class="btn btn-primary" id="submit" name="submit" type="submit" value="Register">
                    </form>
                                               
                </div> 
            </div>    
        </div>
    </div>
</body>   
{% include 'footer.html' %}
</html>
<style>

.content {
    flex: 1;
}

.container {
    min-height: calc(100% - 100px); 
    padding-bottom: 20px;
    max-width: 90%; 
}     

    label {
        display: inline-block;
        max-width: 100%;
        margin-bottom: 5px;
        font-weight: 700;
    }
    .form-group {
        margin-bottom: 15px; 
    }
    .custom-link {
        text-decoration: none; 
    }
    .custom-link:hover {
        text-decoration: underline; 
    }
    .form-group.required .control-label.error {
        color: #A94442;
        font-weight: bold;
    }
    .form-control.error {
        border-color: #A94442;
    }
    .text-danger {
        color: #A94442 !important;
    }
</style>