    html {
        min-height: 100%;
        position: relative;
    }

    body {
        margin-bottom: 150px;
    }

    .container-fluid {
        min-height: calc(100% - 100px); 
        padding-bottom: 20px;
        max-width: 90%; 
    }    


    label:not(:first-child) {
        margin-top: 15px;
    }
    
    #custom-checkbox-container {
        display: flex;
        align-items: center; 
        border-top: 1px solid rgb(209, 209, 209); 
        margin-top: 20px;
        padding-top: 10px;
        width: 100%;
        box-sizing: border-box; 
    }
    
    #custom-checkbox-container.form-check-inline {
        display: flex;
        align-items: center; 
        gap: 10px;
    }
    
    #custom-checkbox-container label {
        font-weight: bold;
        font-size: 14px; 
        flex: 0 0 80%; 
    }
    
    #highRiskCheckbox.form-check-input {
        margin-top: -1px;
        width: 20px;
        height: 20px;
    }
    
    .center-container {
        display: flex;
        justify-content: center; 
    }
    
    #clearAllButton {
        background-color: #6bc8fdd4;
        margin-top: 30px;
        border-color: #80cffdd4;
    }
    

    #outputTable_wrapper .dataTables_scrollBody{
        margin-bottom: 10px;
    }

    #outputTable_wrapper .dataTables_scrollHead th {
        background-color: #b5e4f5;
    }
    
    
    #outputTable_wrapper .dataTables_scrollHead th::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width: 2px;
        background-color: #888; 
        box-shadow: 0 0 0 0 #888; 
    }

    #outputTable_wrapper .dataTables_scrollBody td {
        border: 1px solid #ddd;
    }
    
    #outputTable tbody tr:hover {
        background-color: #f6f6f6; 
    }

    #outputTable th, #outputTable td {
        white-space: nowrap;
    }

    #outputTable th.case-title-column, #outputTable td.case-title-column {
        white-space: wrap;
        width: 15%;
    }
    
    .my-custom-checkbox {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        opacity: 0; 
        width: 0;
        height: 0;
        position: absolute;
    }


    
    #clearAllButton:hover {
        background-color: #24bdf0; 
        border-color: #24bdf0;
    }

    .toggle-button {
        cursor: pointer;
        background-color: #f8f9fa;
        border: 1px solid #ddd;
        padding: 5px 10px;
    }

    td.ellipsis-cell {
        max-width: 150px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        position: relative;
    }

    td.ellipsis-cell .has-data {
        cursor: pointer; 
    }

    td.redirect-cell .clickable {
        color: #5d90c0; 
        text-decoration: none;
        cursor: pointer;
    }

    td.redirect-cell .clickable:hover {
        color: #245377; 
        text-decoration: underline;
    }

    .modal-dialog.custom-modal-size {
        max-width: 800px; 
        margin: auto; 
        display: flex; 
        align-items: center;
        min-height: calc(100% - (.5rem * 2)); 
    }

    .modal-dialog.custom-modal-size .close {
        margin-left: auto;
        color: #45454588; 
        background-color: white;
        border: 0px;
        padding: 0px 10px; 
        font-size: 1.5rem; 
        border-radius: 50%;
    }
    
    .modal-dialog.custom-modal-size .close:hover {
        background-color:  #dcdcdc;       
    }
    
    .dataTables_length label {
        display: flex;
        align-items: center;
        margin-top: 10px;
    }

    .dataTables_length label > select {
        margin-left: 8px;  
        margin-right: 8px; 
    }


    .dataTables_wrapper .col-12 {
        display: flex; 
        justify-content: center;
        margin-top: -5px;
        margin-bottom: 20px;
    }

    .dataTable.fixedHeader-floating {
        background-color: #b5e4f5;
    }


    .side-panel {
        position: relative;
        left: 0;
        background-color: #f2f2f2;
        padding: 20px;
        height: 100%;
    }
    
    .side-panel select {
        width: 100%; 
        max-width: 100%;
        box-sizing: border-box; 
    }

    .filters-label-container {
        margin-top: -20px;
        text-align: center; 
    }

    .filters-label {
        font-weight: bold;
        justify-content: center;
    }
    
    .fas.fa-filter {
        font-size: 15px;
        margin-right: 5px;;
    }
    
    .custom-excel-button {
        background-color: #5cb85c !important;
        color: white !important; 
        border: 1px solid #4cae4c !important; 
        border-radius: 3px !important;
        padding: 5px 10px !important;
        font-size: 14px !important; 
        text-align: center !important;
        text-decoration: none !important;
        display: inline-block !important; 
        margin: 4px 2px !important;
        cursor: pointer !important;
        transition-duration: 0.4s !important; 
    }
    
    .custom-excel-button:hover {
        background-color: #449d44 !important;
    }
    
    .custom-colvis-button {
        background-color: #337ab7 !important; 
        color: white !important; 
        border: 1px solid #2e6da4 !important; 
        border-radius: 3px !important; 
        padding: 5px 10px !important;
        font-size: 14px !important; 
        text-align: center !important; 
        text-decoration: none !important;
        display: inline-block !important;
        margin: 4px 2px !important;
        cursor: pointer !important; 
        transition-duration: 0.4s !important; 
    }

    .custom-colvis-button:hover {
        background-color: #286090 !important;
    }

    div.dt-button-collection.fixed.four-column {
        width: 1000px;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-20%, 0%);

    }

    .fas.fa-check-double, .fas.fa-eye-slash {
        margin-right: 10px;
    }

    div.dtsp-verticalContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
}
 
div.dtsp-verticalContainer div.dtsp-verticalPanes,
div.dtsp-verticalContainer div.container{
    width: 12%;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 0;
}
 
div.dtsp-verticalContainer div.dtsp-verticalPanes{
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 10%;
}
 
div.dtsp-verticalPanes {
    margin-right: 20px;
}
 
div.dtsp-title {
    margin-right: 0px !important;
    margin-top: 13px !important;
}
 
input.dtsp-search {
    min-width: 0px !important;
    padding-left: 0px !important;
    margin-left: 5px !important;
    font-weight: bold;
}

div.dtsp-topRow div.dtsp-subRow1 div.dtsp-searchCont input.dtsp-disabledButton{
    font-weight: bold;
    color: black;
}
div.dtsp-verticalContainer div.dtsp-verticalPanes div.dtsp-searchPanes{
    flex-direction: row;
    flex-basis: 0px;
}
 
div.dtsp-verticalContainer div.dtsp-verticalPanes div.dtsp-searchPanes div.dtsp-searchPane{
    flex-basis: 0px;
}
 
div.dtsp-verticalContainer div.container{
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 62%;
}
 
div.dtsp-panesContainer {
    border: 1px solid #ccc;
    border-radius: 6px;
    background-color: #f2f2f2;
}

div.dtsp-title {
    margin-left: 10px;
    margin-top: 0px !important;
    font-weight: bold;
}


div.dtsp-topRow{
    width: 100% !important;
    box-sizing: border-box;
    font-size: 1em;
    white-space: nowrap;
}


div.dtsp-searchPane div.dataTables_wrapper div.dataTables_scrollBody{
    height: 100% !important;
}

div.dtsp-searchPane div.dataTables_wrapper div.dataTables_scrollBody div.dtsp-nameCont span.dtsp-pill{
    display: inline-block;
    background-color: #b5e4f5 !important;
    text-align: center;
    border-radius: 4px;
    width: auto;
    min-width: 30px;
    color: black;
    font-size: .9em;
    padding: 0px 6px !important;
}

div.dtsp-topRow div.dtsp-subRow1 input:focus {
    outline: none !important;
    box-sizing: border-box;
    border: 2px solid #000000 !important;
    margin-left: 0px !important;
    background-color: #b5e4f5 !important;
    border-radius: 4px;
    cursor: text;
}

div.dtsp-topRow div.dtsp-subRow1 div.dtsp-searchCont input.dtsp-disabledButton:hover{
    margin-left: -10px !important;
    background-color: transparent !important;
}

div.dtsp-searchPane div.dtsp-topRow div.dtsp-searchCont input.dtsp-search {
    margin-left: 5px ;
    background-color: transparent ;
}

div.dtsp-topRow div.dtsp-subRow1 div.dtsp-searchCont input.dtsp-disabledButton:hover {
    margin-left: 5px !important;
}

div.dtsp-topRow div.dtsp-subRow1 button.dtsp-searchIcon:hover {
    background-color: transparent !important;
}